# Run PHP with XDEBUG_MODE=debug
alias phpxmd="XDEBUG_MODE=debug php"

# Edit hosts file
alias hostfile="sudo vi /etc/hosts"

# Edit ssh config
alias sshconfig="vi ~/.ssh/config"

# List all files colorized in long format
alias l="ls -laF"

# Enable aliases to be sudo’ed
alias sudo='sudo '

# ZSH
alias zshconfig="vim ~/.zshrc"
alias zshreload="source ~/.zshrc"

# Other
alias p="cd ~/Projects"
