# Make vim the default editor
export EDITOR="vim"

# Make some commands not show up in history
export HISTIGNORE="ls:cd:cd -:pwd:exit:date:* --help"
# And include the parameter for ZSH
export HISTORY_IGNORE="(ls|cd|cd -|pwd|exit|date|* --help)"

# Highlight section titles in manual pages
export LESS_TERMCAP_md="$ORANGE"

# Search for phpbrewrc
export PHPBREW_RC_ENABLE=1
