# Make terminal in English
export LANG="en_US.UTF-8"

# Make nvim the default editor
export EDITOR="nvim"

# Make some commands not show up in history
export HISTIGNORE="ls:cd:cd -:pwd:exit:date:* --help"
# And include the parameter for ZSH
export HISTORY_IGNORE="(ls|cd|cd -|pwd|exit|date|* --help)"

# Highlight section titles in manual pages
export LESS_TERMCAP_md="$ORANGE"

if [ -d "$HOME/.composer/vendor/bin" ]; then
    export PATH="$HOME/.composer/vendor/bin:$PATH"
fi

export PATH=/usr/local/bin:$PATH
export PATH="$HOME/.local/bin:$PATH"