function ggone() {
    git fetch -p
    for branch in $(git branch -vv | grep ': gone]' | awk '{print $1}');
    do
        git branch -D "$branch"
    done
}

function starship_update() {
    old_version=$(starship --version) || { echo "Failed to get current Starship version."; exit 1; }

    curl -sS https://starship.rs/install.sh -o /tmp/install.sh || { echo "Failed to download the installation script."; exit 2; }

    sh /tmp/install.sh || { echo "Starship update failed."; exit 3; }

    new_version=$(starship --version) || { echo "Failed to verify Starship version."; exit 4; }

    echo "Old version was: $old_version"
    echo "New version is: $new_version"
}
