function ggone() {
    git fetch -p
    for branch in $(git branch -vv | grep ': gone]' | awk '{print $1}');
    do
        git branch -D "$branch"
    done
}

function starship_update() {
    local current_version
    local latest_version
    local new_version

    current_version=$(starship --version | grep starship | cut -d" " -f2) || { echo "Failed to get current Starship version."; exit 1; }
    latest_version=$(curl --silent "https://api.github.com/repos/starship/starship/releases/latest" | grep '"tag_name":' | sed -E 's/.*"v([^"]+)".*/\1/') || { echo "Failed to get the latest Starship version."; exit 2; }

    if [ "$current_version" != "$latest_version" ]; then
        curl -sS https://starship.rs/install.sh -o /tmp/install.sh || { echo "Failed to download the installation script."; exit 3; }
        sh /tmp/install.sh || { echo "Starship update failed."; exit 4; }
        new_version=$(starship --version | grep starship | cut -d" " -f2) || { echo "Failed to verify Starship version."; exit 5; }
        echo "Old version was: $current_version"
        echo "New version is: $new_version"
    else
        echo "You already have the latest Starship version: $current_version"
    fi
}